.div {
    /* 
        1.标准文档流： 
        将文档自上而下 形成一行一行的（行内块） 
        如果说是块元素，所有的元素都会另起一行 
        总结：自上而下 从左至右

        2 ：浮动布局： 
        目的是让块级元素并排显示（左右排布） 
        半脱离文档流

        浮动的应用场景：让上下排布的块标签左右排列
        浮动的影响 ：会影响父元素的高度为0，会影响后面元素的排序



        第一种清除浮动 ：给父元素设置一个高度

        第二种清除浮动 ：给父元素设置 overflow: hidden

        第三种方式：给设置完浮动的标签后面添加一个空标签clear 设置clear: both;
        .clear { clear: both; }

        第四种方式：在不添加新的元素的情况下给设置了浮动的元素添加后缀伪元素 
        一般谁需要清除浮动就给谁添加统一类名 clearFix (建议大家使用)
        .clearFix::after {
            content: '';
            clear: both;
            display: block;
        }
    */

    float: left;
}