.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.active{
  font-size: 24px;
  color: skyblue;
}

.square{
  width: 30px;
  height: 30px;
  box-sizing: border-box;
  border: 1px solid #0000005f;
  border-right: none;
  border-bottom: none;
  font-weight: bold;
  font-size: 20px;
  background-color: #ffffff;
}

.board{
  width: 91px;
  height: 91px;
  box-sizing: border-box;
  border: none;
  border-right: 1px solid #0000005f;
  border-bottom: 1px solid #0000005f;
  display: grid;
  grid-template-columns: repeat(3,30px);
  grid-template-rows: repeat(3, 30px);
}

.history{
  width: 120px;
  height: 20px;
  display: block;
  box-sizing: border-box;
  border: none;
  margin: 2px;
  border-radius: 2px;
  background-color: rgba(137, 43, 226, 0.3);
}