/* 
    通配符指 body里面所有的标签元素
    目的是为了清楚浏览器自带外边距8像素
    内边距为了清楚标签自身带的内边距
*/
* {
    /* 外边距 */
    margin: 0;

    /* 内边距 */
    padding: 0;

    /* 最小 / 最大   vw / vh */
    /* 
      常用的单位：
        px 绝对单位 
        % 相对单位 相对于父元素 
        vw 视口的宽度 参照与浏览器 1%=1vw 100%=100vw 
        vh 视口的高度 参照与浏览器 1%=1vh 100%=100vh 
        rem(移动端主流) 参照与根标签的font-size 1rem=16px(谷歌浏览器默认字体大小16px) 
        em(不常用 一般用于首行缩进) 相对单位 相对于自身的父元素 1em=16px
    */
    min-width: 10vw;
    max-height: 10vh;
}


/*  常用样式  */
div {
    /* 字体颜色 */
    color: red;

    /* 字体大小必须加px */
    font-size: 30px;

    /* 背景颜色 */
    background-color: rebeccapurple;

    /* 宽width */
    width: 10px;

    /* 高height */
    height: 10px;

    /* 边框线 */
    border: 1px solid #000;

    /* 块元素内部文本居中 */
    text-align: center;

    /* 行高line-height 和盒子高度保持一致居中 */
    line-height: 200px;

    /* 字体加粗 100-900 默认是400*/
    font-weight: bold;

    /* 边框圆角 */
    border-radius: 5px;
    border-top-left-radius: 30px;

    /* 溢出隐藏 */
    overflow: hidden;

    /* 元素隐藏 文档流中占有位置 */
    visibility: hidden;

    /* 改变元素属性 */
    display: none;
    display: inline;
    display: block;
    display: inline-block;

    /* 盒模型 标准盒子 怪异盒子 */
    box-sizing: border-box;

    /* opacity alpha 透明度 */
    opacity: 1;

    /* 设置文本不换行 */
    white-space: nowrap;

    /* 超出部分显示省略号 ... */
    text-overflow: ellipsis;

    /* 背面不可见 */
    backface-visibility: hidden;
}



/* 前缀伪元素  必须跟content一起使用 */
div::before {
    width: 1px;
    height: 10px;
    content: '';
    color: red;
}

/* 后缀伪元素 */
div::after {
    content: '111';
    color: blue;
}


/* hover伪类 鼠标移入效果 */
div:hover {
    color: red;
    font-size: 50px;
}


/* 背景图相关 */
div {
    /* 插入背景图 */
    background-image: url("");

    /* 
       no-repeat 图片不重复
       repeat-x或repeat-y x轴重复或y轴重复
    */
    background-repeat: no-repeat;

    /* 设置图片大小 % px */
    background-size: 300px;

    /* 
       调整背景图位置
       第一个值指的是水平方向
       第二个值指的是垂直方向
       top center left right bottom
    */
    background-position: center center;

    /* 把边框线上的背景剪掉 */
    background-clip: padding-box;

    /* 把内边距padding上的背景剪掉 */
    background-clip: content-box;
}



/*  去除标签自带属性  */
.a {
    /* 去除 ul-li 小黑点 */
    list-style: none;

    /* 去除 a 下划线 */
    text-decoration: none;

    /* 去除外廓线 */
    outline: none;

    /* 鼠标移入特效 */
    cursor: pointer;
}


/* 其他................................................... */
div {
    /* 
      盒子的阴影

      第一个值是x轴阴影的偏移量 
      第二个值是y轴阴影的偏移量 
      第三个值是模糊程度（值越大越模糊） 
      第四个值是阴影的半径 （值越大阴影的半径就越大） 
      第五个值是color阴影的颜色 
      第六个值默认的是外部阴影 inset 表示内侧阴影
    */
    box-shadow: h-shadow v-shadow blur spread color inset;


    /* 
      文字阴影
      
      第一个值是x轴阴影的偏移量 
      第二个值是y轴阴影的偏移量 
      第三个值是模糊程度（值越大越模糊） 
      第四个值是color阴影的颜色 
    */
    text-shadow: h-shadow v-shadow blur color;


    /* 
        线性渐变 默认从上到下
        常量 to top 向上 代表 0deg 
             to right 向右 代表90deg 
             to bottom 向下 代表180deg 
             to left 向左 代表270deg
    */
    background: linear-gradient(180deg, red, green, pink);


    /* 
      径向渐变
        radial-gradient (x y, 起始颜色，终止颜色)
        X和Y值只能是正数不能为负
    
    */
    background: radial-gradient(200px 200px, red, green, blue);
}



/* 兼容----------------------------------------- */
div {
    width: 200px;
    height: 200px;
    /* css3新增属性 圆角 */
    border-radius: 10px;
    /* 渐进增级 向上兼容 先针对较低版本进行开发 */
    /* 谷歌浏览器 -webkit */
    -webkit-border-radius: 10px;
    /* ie浏览器 */
    -ms-border-radius: 10px;
    /* 火狐浏览器 */
    -moz-border-radius: 10px;
    /* 欧鹏浏览器 */
    -o-border-radius: 10px;
    background-color: red;

    /* 优雅降级 向下兼容 针对高版本的进行开发，再兼容个个浏览器 */
    /* 谷歌浏览器 -webkit */
    -webkit-border-radius: 10px;
    /* ie浏览器 */
    -ms-border-radius: 10px;
    /* 火狐浏览器 */
    -moz-border-radius: 10px;
    /* 欧鹏浏览器 */
    -o-border-radius: 10px;
}